@import url('https://fonts.googleapis.com/css?family=Walter+Turncoat|Cinzel+Decorative|Bellefair');


body {
    font-family: "Bellefair";
}

.icon-block {
    padding: 0 15px;
}

.brand-logo{
    margin-top: 7px;
    width:45px;
    height: 45px;
}

.brand-logo img {
    max-height: 100%;
}

.link a {color: #2196F3;}

.link a:hover {color: #2162f3;}



nav ul a {
    font-size: 1.2rem;
    color: white;
    letter-spacing: 2px;
    display: block;
    font-weight: 300;
    padding: 0px 15px;
    font-family: "Bellefair";
}

#gen {
    width:300px;
    height:380px;
    margin-top: 100px;
    border-radius: 20%; 
}

.header {
    color: white;
    font-family: "Cinzel Decorative";
    text-shadow: 3px 3px 3px black;
}



.light {
    font-size: 18px;
}



.card img:hover {
      opacity: 0.6;
}


@media only screen and (max-width: 480px) {
    .text_h {
        padding: 4% 0;
        font-size: 5em;
        font-weight: 100;
        color: white;
    }
}

input, textarea {
    border-bottom: 1px solid #fff;
}

nav a.button-collapse {
    left: -25px;
}



.parallax-container {
    max-height: 400px;
}

footer.page-footer {
    margin-top: 0px !important;
}